h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: #002d5a;
    text-shadow: 3px 3px 1px black;
}

div {
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    background-color: #c46f00;
    padding: 0 20px 0px 0px;
    border: 1px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

ul,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

input {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}